<div class="sidebar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    <a routerLink="/flight_offers" routerLinkActive="active">Flight Offers</a>
    <a routerLink="/api-manager" routerLinkActive="active">API Manager</a>
    <a routerLink="/reference-data" routerLinkActive="active">reference-data</a>
    <a routerLink="/google-map" routerLinkActive="active">google-map</a>
    <a routerLink="/conversation" routerLinkActive="active">conversation</a>
</div>
